<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IonicLocationKitDemo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Io</ion-title>
    </ion-toolbar>
  </ion-header>

  
  

  <div class="ion-padding">
   <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/acount']"
    >
      Huawei Account
    </ion-button>
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/location']"
    >
      HMS Location
    </ion-button>
    
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/push']"
    >
      HMS Push
    </ion-button>
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/analytics']"
    >
      Huawei Analytics
    </ion-button>
    
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/site']"
    >
      HMS Site Kit
    </ion-button>
 <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/maps']"
    >
      Huawei Map
    </ion-button>
    <ion-button
      expand="full"
      color="primary"
      class="ion-margin-bottom"
      [routerLink]="['/ads']"
    >
      Huawei Ads Kit
    </ion-button>
  </div>
</ion-content>